<mat-card>
  <mat-card-content class="form" [formGroup]="filterForm">
    <mat-form-field appearance="outline" class="form__control">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__control">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="alive">Alive</mat-option>
        <mat-option value="dead">Dead</mat-option>
        <mat-option value="unknown">Unknown</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__control">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="female">Female</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="genderless">Genderless </mat-option>
        <mat-option value="Unknown">Unknown</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="form__submit" (click)="submit()">
      Filter
    </button>
    <button mat-button class="form__reset" (click)="clear()">
      Clear
    </button>
  </mat-card-content>
</mat-card>
