.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  &__control {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    min-width: 300px;
  }

  &__submit {
    flex: 3 1 calc(75% - 20px);
    box-sizing: border-box;
    min-width: 300px;
  }

  &__reset {
    flex: 1 1 calc(25% - 10px);
    box-sizing: border-box;
    min-width: 300px;
  }
}
