@use '@angular/material' as mat;

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}


mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  @include mat.toolbar-overrides((
    standard-height: 100px,
  ));
}