<p>home works!</p>

<div class="custom-grid">
  <div class="custom-grid--position-1">
    <mat-card [style]="{ width: '100%', height: '600px', overflow: 'hidden' }">
      <mat-card-content [style]="{ overflow: 'auto' }">
        @if (characters().results.length > 0) {
          <app-table
            [dataSource]="characters().results"
            (selectCharacter)="handleCharacter($event)"
          />
        }
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-grid--position-2">
    <mat-card [style]="{ width: '100%', height: '100%', overflow: 'auto' }">
      <mat-card-content>
        <mat-paginator
          [length]="characters().info.count"
          [pageSize]="20"
          [hidePageSize]="true"
          aria-label="Select page"
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-grid--position-3">
    <mat-card [style]="{ width: '100%', height: '100%' }">
      @if (selectedCharacter()) {
        <mat-card-header>
          <app-avatar
            [src]="selectedCharacter()!.image"
            [alt]="selectedCharacter()!.name + ' image'"
          ></app-avatar>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Name</span>
              <span matListItemLine>{{ selectedCharacter()!.name }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Status</span>
              <span matListItemLine>{{ selectedCharacter()!.status }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Species</span>
              <span matListItemLine>{{ selectedCharacter()!.species }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Type</span>
              <span matListItemLine>{{ selectedCharacter()!.type }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Gender</span>
              <span matListItemLine>{{ selectedCharacter()!.gender }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Origin</span>
              <span matListItemLine>{{
                selectedCharacter()!.origin.name
              }}</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Location</span>
              <span matListItemLine>{{
                selectedCharacter()!.location.name
              }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      }
    </mat-card>
  </div>
  <div class="custom-grid--position-4">
    <mat-card [style]="{ width: '100%', height: '100%' }">
      <mat-card-content>
        <mat-list>
          @for (item of recordKeys(totalSpecies()); track $index) {
            <span matListItemTitle>{{ item }}</span>
            <span matListItemLine>{{ totalSpecies()[item] }}</span>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-grid--position-5">
    <mat-card [style]="{ width: '100%', height: '100%' }">
      <mat-card-content>
        <mat-list>
          @for (item of recordKeys(totalTypes()); track $index) {
            <span matListItemTitle>{{ item ? item : "No type" }}</span>
            <span matListItemLine>{{ totalTypes()[item] }}</span>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
