<section class="filter-section">
  <app-filter (filter)="filterCharacters($event)" />
</section>

<section class="custom-grid">
  <div class="custom-grid--position-1">
    <app-table
      [dataSource]="characters().results"
      [isLoading]="charactersLoader()"
      (selectCharacter)="handleCharacter($event)"
    />
  </div>
  <div class="custom-grid--position-2">
    <mat-card>
      <mat-card-content>
        <mat-paginator
          #paginator
          [length]="characters().info.count"
          [pageSize]="20"
          [hidePageSize]="true"
          aria-label="Select page"
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-grid--position-3">
    <app-character-detail
      [character]="selectedCharacter"
      [locationCharacters]="locationCharacters()"
      [originCharacters]="originCharacters()"
      [isLocationLoading]="locationLoader()"
      [isOriginLoading]="originLoader()"
      [isLiked]="selectedCharacterLiked()"
      [episode]="randomEpisode()"
      (selectCharacter)="handleCharacter($event)"
      (likeCharacter)="handleLikeCharacter($event)"
    />
  </div>
  <div class="custom-grid--position-4">
    <mat-card>
      <mat-card-content>
        <mat-list>
          @for (item of recordKeys(totalSpecies()); track $index) {
            <span matListItemTitle
              ><strong>{{ item }}</strong></span
            >
            <span matListItemLine>{{ totalSpecies()[item] }}</span>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-grid--position-5">
    <mat-card>
      <mat-card-content>
        <mat-list>
          @for (item of recordKeys(totalTypes()); track $index) {
            <span matListItemTitle
              ><strong>{{ item ? item : "No type" }}</strong></span
            >
            <span matListItemLine>{{ totalTypes()[item] }}</span>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>
