@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  @include mat.table-overrides((
    background-color: var(--mat-sys-surface-container-low),
  ));

  @include mat.paginator-overrides((
    container-background-color: var(--mat-sys-surface-container-low),
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
}