<mat-card
  [style]="{
    width: '100%',
    height: '600px',
    overflow: 'hidden',
    position: 'relative',
    boxSizing: 'border-box',
  }"
>
  @if (isLoading) {
    <mat-card-content class="table-loader">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  }

  @if (dataSource.length > 0) {
    <mat-card-content class="table">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <app-avatar [src]="element.image" [alt]="element.name + ' image'" />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef>Species</th>
          <td mat-cell *matCellDef="let element">{{ element.species }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.type ? element.type : "No type" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>

        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef>Origin</th>
          <td mat-cell *matCellDef="let element">
            {{ element.origin.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">
            {{ element.location.name }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onCharacter(row)"
        ></tr>
      </table>
    </mat-card-content>
  } @else {
    <mat-card-content class="table">
      <p>No data available</p>
    </mat-card-content>
  }
</mat-card>
